/*-----------------------------------------------------------------------------------

    Template Name: Elly HTML eCommerce template 
    Version: 1.0
    
    CSS INDEX
    ===================
-----------------------------------------------------------------------------------
	# google Fonts
    1. Theme Default CSS (body, link color, section etc)
    02. header-area css 
    03. header-mid-area css 
    04. main-menu-area css 
    05. slider-area css  
    06. benner-area css
    07. daily-deals css
    08. product-area css 
    09. main-content-wrapper css 
    10. recent-blog-posts-area css 
    11. product-category-area
    12. brand-logo-area css
    13. footer-area css
    14. modal-wrapper css 
    15. boxed-layout css
    16. shop-page css 
    17. single-product css 
    18. error-404 css 
    19. faequently-questions css
    20. wishlist-page css
    21. cart-page css 
    22. checkout css
    23. contact-page css 
    24. blog-area css
    25. about-page css 
    26. My Account Page CSS
----------------------------------------------------------------------------------------*/
/*------------------------
    # google Fonts
-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:300,400,600,700,800');
/*----------------------------------------*/
/*-------------------
  1. Theme Default CSS (body, link color, section etc)
---------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1,
h2, 
h3, 
h4, 
h5,
h6 {
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;
}
a {-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: red;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
button:focus, input:focus,textarea:focus{outline: none;}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.ptb-10{
  padding: 10px 0;
}
.ptb-20{
  padding: 20px 0;
}
.ptb-30{
  padding: 30px 0;
}
.ptb-40{
  padding: 40px 0;
}
.ptb-50{
  padding: 50px 0;
}
.ptb-60{
  padding: 60px 0;
}
.ptb-70{
  padding: 70px 0;
}
.ptb-90{
  padding: 90px 0;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-50{
  padding-bottom: 50px;
}
.pb-60{
  padding-bottom: 60px;
}
.pb-70{
  padding-bottom: 70px;
}
.pb-80{
  padding-bottom: 80px;
}
.pb-90{
  padding-bottom: 90px;
}

.mtb-20{
  margin: 20px 0;
}
.mtb-30{
  margin: 30px 0;
}
.mtb-40{
  margin: 40px 0;
}
.mtb-50{
  margin: 50px 0;
}
.mtb-60{
  margin: 60px 0;
}
.mtb-70{
  margin: 70px 0;
}
.mtb-80{
  margin: 80px 0;
}

.mt-10{
  margin: 10px 0 0 0;
}
.mt-20{
  margin: 20px 0 0 0;
}
.mt-30{
  margin: 30px 0 0 0;
}
.mt-40{
  margin: 40px 0 0 0;
}
.mt-50{
  margin: 50px 0 0 0;
}
.mt-60{
  margin: 60px 0 0 0;
}

.mb-20{
  margin: 0 0 20px 0;
}
.mb-30{
  margin: 0 0 30px 0;
}
.mb-60{
  margin: 0 0 60px 0;
}
.mb-80{
  margin: 0 0 80px 0;
}
.mb-90{
  margin: 0 0 90px 0;
}
.bg-gray{
  background: #F8F8F8;
}
#scrollUp {
  background: #333333 none repeat scroll 0 0;
  bottom: 30px;
  color: #ffffff;
  font-size: 22px;
  height: 40px;
  line-height: 38px;
  right: 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  width: 40px;
}
#scrollUp:hover {
  background: #C97178;
}
/*------------------------------------
    02. header-area css 
--------------------------------------*/
.header-top {
  background: #161616 none repeat scroll 0 0;
  color: #fff;
}
.support-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px 0;
}
.single-support {
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 25px;
  width: 124px;
}
.support-description p {
  line-height: 20px;
  margin: 0;
}
.support-icon i {
  font-size: 30px;
  margin-right: 8px;
}
.support-description p {
  font-size: 14px;
  line-height: 20px;
  font-family: arial;
}
/*-- header-style-two ---*/
.header-top.header-top-two {
  background: #ffffff none repeat scroll 0 0;
  color: #333;
}
.header-top-two .support-description p {
  color: #333;
}
.header-top-two .top-dropdown li a {
   color: #333;
}
.header-top-two  .shopping-cart ul li > a {
  color: #333;
}
.header-top-two .shopping-cart span.item-total {
  background: rgba(0, 0, 0, 0) url("img/icon/shopping-icon-2.png") repeat scroll 0 0 / cover ;
  color: #C97178;
}
.header-top.header-top-two {
  border-bottom: 1px solid #d6d6d6;
}
/*-- top-right-wrapper css --*/
.top-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
.shopping-cart li {
  position: relative;
}
.shopping-cart ul li > a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 40px;
  padding: 10px 42px 10px 0;
  position: relative;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
.shopping-cart span.item-total {
  background: rgba(0, 0, 0, 0) url("img/icon/shopping-icon.png") repeat scroll 0 0 / cover ;
  display: block;
  font-weight: 700;
  line-height: 17px;
  min-width: 35px;
  padding: 14px 2px 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 8px;
}
.shopping-cart ul li .shopping-cart-wrapper {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  position: absolute;
  right: 0;
  width: 370px;
  top: 100%;
  z-index: 999;
}
.shopping-cart li .shopping-cart-wrapper ul li {
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.shopping-cart .shoping-cart-image {
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  width: 72px;
}
.shopping-cart .shoping-cart-image .cart-sticker {
  background: #c97178 none repeat scroll 0 0;
  border-radius: 100%;
  color: #ffffff;
  font-size: 12px;
  left: 5px;
  line-height: 23px;
  min-width: 25px;
  padding: 2px 0 0;
  position: absolute;
  text-align: center;
  top: 5px;
}
.shopping-cart .shoping-product-details h3 {
  color: #222222;
  display: block;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  word-wrap: break-word;
}
.shopping-cart .cart-product-price > span {
  color: #c97178;
  display: block;
  margin: 10px 0 0;
}
.product-size > span {
  color: #666666;
  display: block;
  font-size: 12px;
  margin: 5px 0 0;
}
.shopping-cart .product-color > span {
  color: #666666;
  display: block;
  font-size: 12px;
}
.shopping-cart .cart-total h5 {
  color: #414141;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;  
  margin: 0;
}
.shopping-cart .cart-total span {
  color: #878787;
  float: right;
  font-size: 16px;
}
.shopping-cart .shoping-checkout .cart-btn {
  background: #c97178;
  color: #ffffff;
  display: block;
  font-weight: 600;
  height: 40px;
  line-height: 38px;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shopping-cart .shoping-checkout .cart-btn:hover {
  background: #752c32;
  color: #ffffff;
}
/*-- top-dropdown css --*/
.top-dropdown li {
  display: inline-block;
  position: relative;
  margin: 0 25px 0 0;
}
.top-dropdown li a {
  color: #ffffff;
  font-size: 14px;
  line-height: 60px;
}
.top-dropdown ul li .open-dropdown {
  background: #fff;
  color: #878787;
  position: absolute;
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  right: 0;
  z-index: 999;
}
.top-dropdown ul li .open-dropdown > li{
  display: block;
}
.top-dropdown ul li .open-dropdown > li a{
  display: block;
  color: #222;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 20px;
  text-transform: capitalize;
}
.top-dropdown ul li .open-dropdown > li a:hover {
  color: #c97178;
}
.open-dropdown {
  display: none;
}
/*-----------------------------------
   03. header-mid-area css 
-------------------------------------*/
.mid-right-wrapper {
  float: right;
  margin: 30px 0 40px;
}
.user-info-top {
  float: right;
}
.logo {
  margin: 45px 0 0;
}
.user-info-top li {
  display: inline-block;
}
.user-info-top li a {
  border-left: 1px solid #333333;
  color: #333333;
  display: block;
  font-family: Arial;
  font-size: 13px;
  line-height: 12px;
  margin: 0 0 0 8px;
  padding: 0 0 0 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-info-top li:first-child a {
  border: medium none;
  margin: 0;
  padding: 0;
}
.user-info-top li a:hover {
  color:#c97178;
}
.user-info-top li a.checkout {
  text-transform: uppercase;
  font-weight: 700;
}
.search-area {
  clear: both;
  float: right;
  margin-top: 20px;
  width: 360px;
  position: relative;
}
.search-area input {
  border: 1px solid #161616;
  color: #333333;
  font-family: arial;
  font-size: 14px;
  line-height: 26px;
  padding: 7px 45px 5px 10px;
  width: 100%;
}
.search-area button {
  background: #161616 none repeat scroll 0 0;
  border: 0 none;
  color: #ffffff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 42px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-area button:hover,.header-mid-two .search-area button:hover {
  background: #c97178;
}
/*-- Header-style-three css --*/
.header-mid-area.header-style-three {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  z-index: 9;
}
.header-mid-area.header-style-three .user-info-top li a{
  color: #fff;
}
.header-mid-area.header-style-three .user-info-top li a:hover{
  color: #C97178;
}

/*-----------------------------------
   04. main-menu-area css 
--------------------------------------*/
.solidblockmenu.sticky {
  -webkit-animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
  background: #f4f4f4 none repeat scroll 0 0;
  left: 0;
  margin: auto;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.main-menu-area.sticky  .main-menu.menu-area-five ul li {
  padding: 22px 8px;
}
.main-menu-area.sticky .main-menu.menu-area-five li ul.mega-menu > li ul li,
.main-menu-area.sticky .main-menu.menu-area-five li ul.mega-menu-two > li ul li {
  padding: 0;
}
.main-menu-area {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}
.main-menu-area .main-menu {
  text-align: center;
}
.main-menu-area .main-menu li {
  display: inline-block;
  margin: 0 10px;
  padding: 22px 0;
  position: relative;
}
.main-menu-area .main-menu li > a {
  color: #161616;
  display: block;
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 27px;
  padding: 0 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.main-menu-area .main-menu li > a:hover,.main-menu-area .main-menu li.active a {
  background: #c97178;
  color: #fff;
}
.main-menu-area .main-menu .dropdown-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  left: 0;
  margin: 0;
  top: 100%;
  width: 180px;
}
.main-menu ul li ul.dropdown-menu > li {
  display: block;
  margin: 0;
  padding: 0;
}
.main-menu-area .main-menu ul li ul.dropdown-menu > li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  padding: 0 20px;
  text-transform: capitalize;
}
.main-menu-area .main-menu ul li ul.dropdown-menu > li a:hover {
  color: #c97178;
}
.main-menu-area .main-menu .mega-menu, 
.main-menu-area .main-menu .mega-menu-two {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  padding: 30px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 100%;
  width: 784px;
  z-index: 999;
}
.main-menu-area .main-menu .mega-menu-two {
  width: 682px;
}
.main-menu-area .main-menu .mega-menu > li,
.main-menu-area .main-menu .mega-menu-two > li {
  float: left;
  padding: 0 30px 0;
  width: 25%;
  margin: 0;
}
.main-menu-area .main-menu .mega-menu-two > li{
  width: 33.333%;
}
.main-menu-area .main-menu li ul.mega-menu > li a,
.main-menu-area .main-menu li ul.mega-menu-two > li a {
  color: #333333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 35px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}
.main-menu-area .main-menu .mega-menu > li ul li,
.main-menu-area .main-menu .mega-menu-two > li ul li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-menu-area .main-menu li ul.mega-menu > li ul li a,
.main-menu-area .main-menu li ul.mega-menu-two > li ul li a {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 28px;
  padding: 0;
  text-transform: capitalize;
}
.main-menu-area .main-menu li ul.mega-menu > li a:hover,
.main-menu-area  .main-menu li ul.mega-menu > li ul li a:hover,
.main-menu-area .main-menu li ul.mega-menu-two > li a:hover,
.main-menu li ul.mega-menu-two > li ul li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #c97178;
}
/*-- menu-area-two --*/
.main-menu-area.menu-area-two {
  background: #c97178 none repeat scroll 0 0;
  border: none;
}
.main-menu.menu-style-two ul > li {
  margin: 0 35px 0 0;
  padding: 15px 0;
  position: relative;
}
.main-menu.menu-style-two{
  text-align: left;
}
.main-menu.menu-style-two ul > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  position: relative;
}
.main-menu.menu-style-two ul > li > a:after,.main-menu.menu-area-five ul > li a:after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 0%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-menu.menu-style-two ul > li:hover  > a:after,
.main-menu.menu-style-two ul > li.active a:after,
.main-menu.menu-area-five ul > li:hover  > a:after,
.main-menu.menu-area-five ul  > li.active a:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  width: 100%;
}
.main-menu.menu-style-two ul > li.active a:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  width: 100%;
}
.main-menu.menu-style-two .mega-menu, .main-menu.menu-style-two .mega-menu-two {
  left: 0;
}
.main-menu.menu-style-two .mega-menu > li, .main-menu.menu-style-two .mega-menu-two > li,
.main-menu-area .main-menu.menu-area-five ul li .mega-menu > li, .main-menu-area .main-menu.menu-area-five ul li .mega-menu-two > li {
  float: left;
  margin: 0;
  padding: 0 30px;
  width: 25%;
}
.main-menu.menu-style-two .mega-menu-two > li,.main-menu-area .main-menu.menu-area-five ul li .mega-menu-two > li {
  width: 33.333%;
}
.main-menu.menu-style-two .mega-menu-two, .main-menu-area .main-menu.menu-area-five ul li .mega-menu-two {
  width: 735px;
}
/*---- menu-area-six css ----*/
.main-menu-area.menu-area-six {
  background: #202020;
  margin-bottom: 10px;
}
.main-menu-area.menu-area-six > .main-menu li {
  padding: 15px 0;
}
.main-menu-area.menu-area-six .main-menu li > a {
  color: #ffffff;
}
/*---- menu-area-five css ----*/
.main-menu-area.main-menu-five {
  border-top: medium none;
}
.main-menu-area .main-menu.menu-area-five ul li {
  padding: 11px 9px 37px;
}
.main-menu.menu-area-five ul li a {
  color: #161616;
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 19px;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 0;
  position: relative;
  text-transform: uppercase;
}
.main-menu.menu-area-five ul li a {
  position: relative;
}
.main-menu-area .main-menu.menu-area-five ul.dropdown-menu li {
  padding: 0;
}
.main-menu-area .main-menu.menu-area-five li > a:hover,.main-menu.menu-area-five ul  > li.active a {
  background: none;
  color: #C97178;
}
.main-menu.menu-area-five ul > li a:after {
  background: #C97178 none repeat scroll 0 0;
}
.main-menu.menu-area-five ul > li .mega-menu a:after,
.main-menu.menu-area-five ul > li .mega-menu-two a:after,
.main-menu-area .main-menu.menu-area-five ul.dropdown-menu li a:after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.main-menu-area.menu-area-six.sticky {
  border: medium none;
}
/*---------------------------------------------
   05. slider-area css  
----------------------------------------------*/
.slider-active .owl-nav button i {
  color: #ffffff;
  font-size: 20px;
}
.slider-active .owl-nav button {
  background: rgba(0, 0, 0, 0.15) !important;
  color: #ffffff;
  height: 70px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 40px;
  border-radius: 25px;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.slider-active .owl-nav button:hover {
  background: #c97178 !important;
}
.slider-active .owl-nav button.owl-next {
  left: auto;
  right: 10px;
}
.slider-active .owl-dots {
  bottom: 20px;
  display: inline-block;
  left: 100px;
  position: absolute;
}
.slider-active .owl-dots .owl-dot {
  background: #fff;
  border-radius: 50px;
  height: 10px;
  margin-right: 8px;
  width: 10px;
}
.slider-active .owl-dots .owl-dot.active {
  background: #ffffff;
  width: 35px;
}
/*--------------------------------------
   06. benner-area css 
--------------------------------------*/
.hello-word-title > h3 {
  border-bottom: 1px solid #d6d6d6;
  color: #515151;
  font-size: 18px;
  margin: 0;
  padding: 28px 0;
  text-align: center;
  text-transform: uppercase;
}
.hello-word-title span {
  background: #c97178 none repeat scroll 0 0;
  color: #fff;
  line-height: 25px;
  padding: 0 8px;
}
.single-benner {
  overflow: hidden;
  position: relative;
}
.single-benner > a {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1);
          -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.single-benner > a:after {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single-benner-info {
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 100%;
}
.single-benner:hover > a {
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.single-benner:hover a:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
.single-benner-info > h4 {
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 46px;
  text-transform: capitalize;
  margin: 0;
}
.single-benner-info > p {
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 46px;
  margin: 0;
  text-transform: uppercase;
}
.single-benner .single-benner-info a.btn-one {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  padding: 15px 36px 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single-benner:hover .single-benner-info a.btn-one {
  border: 1px solid #ffffff;
  background: #fff;
  color: #333333;
}
/*--- benner-area-two css  ---*/
.single-benner-info > h3 {
  color: #ffffff;
  font-family: arial;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 36px;
  margin: 0;
}
.single-benner-info > h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: arial;
  letter-spacing: 0.2em;
}
.single-benner-wrapper .single-bg-benner {
  margin-top: 0;
}
.benner-area-two .single-benner:hover .single-benner-info a.btn-one {
  color: #c97178;
}
/*--- benner-style-two ----*/
.single-bg-benner {
  margin-top: 30px;
}
.single-bg-benner.mt-20 {
  margin-top: 22px;
}
.single-bg-benner,.single-category-image {
  overflow: hidden;
  position: relative;
}
.single-bg-benner > a,.single-category-image a {
  display: block;
}
.single-bg-benner a img,.single-category-image a img {
  -webkit-transform: scale(1);
          -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.single-bg-benner:hover img,.single-category-image:hover img {
  -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
      transform: scale(1.1);
}
.section-titel.category-title-3 {
  border-top: medium none;
  padding-top: 0;
}
.single-benner-wrapper.mb-60 {
  margin-bottom: 60px;
}
/*-- benner-area-three css --*/
.single-benner-info > span.benner-inner {
  position: relative;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 47px;
  position: relative;
  text-transform: uppercase;
}
.single-benner-info > span.benner-inner:after, .single-benner-info > span.benner-inner:before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.single-benner-info > span.benner-inner:after{
  left: 0;
  top: 0;  
}
.single-benner-info > span.benner-inner:before {
  right: 0;
  bottom: 0;
}
.single-benner:hover .single-benner-info > span.benner-inner:before,.single-benner:hover .single-benner-info > span.benner-inner:after{
  width: 100%;
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*---------------------------------------
   07. daily-deals css 
--------------------------------------*/
.daily-deals-title > h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0;
  font-family: arial;
}
.daily-deals-title {
  border-bottom: 2px solid #333333;
  padding-bottom: 18px;
}
.countdown-deals {
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 0;
}
.countdown-deals .cdown {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  text-align: center;
  font-family: arial;
}
.countdown-deals .cdown:after {
  color: #333;
  content: ":";
  font-size: 29px;
  left: -18px;
  position: absolute;
  top: -8px;
}
.countdown-deals .cdown span {
  color: #333;
  font-size: 20px;
}
.countdown-deals .cdown p {
  color: #333333;
  font-size: 14px;
  margin: 0;
}
.countdown-deals .cdown:first-child:after {
  display: none;
}
.daily-deals-info h1 {
  line-height: 30px;
  margin: 20px 0 0;
}
.daily-deals-info h1 a {
  color: #333333;
  font-family: arial;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
}
.daily-deals-info h1 a:hover {
  color: #c97178;
}
.daily-deals-info > p {
  color: #515151;
  font-family: arial;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0 0;
}
.daily-deals-info .product-price-box {
  color: #a8a8a8;
  font-family: arial;
  font-size: 30px;
  line-height: 35px;
  margin-top: 20px;
  text-align: left;
}
.daily-deals-info .product-price-box span {
  margin: 5px 20px 0 0;
}
.daily-deals-info .product-price-box span.old-price {
  text-decoration: line-through;
}
.daily-deals-info .product-price-box span.new-price {
  color: #c97178;
}
.daily-deats-active .owl-nav button, .product-active .owl-nav button,
.product-style-2 .owl-nav button,.product-style-3 .owl-nav button,
.brand-logo-active .owl-nav button,.blog-post-active .owl-nav button,
.single-blog-active .owl-nav button,.post-slider .owl-nav button   {
  border: 1px solid #ccc !important;
  border-radius: 50%;
  color: #ccc !important;
  height: 40px;
  line-height: 5px !important;
  position: absolute;
  right: 0;
  top: -55px;
  width: 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.daily-deats-active .owl-nav button:hover, .product-active .owl-nav button:hover,
.product-style-2  .owl-nav button:hover,.product-style-3  .owl-nav button:hover,
.brand-logo-active .owl-nav button:hover,.blog-post-active .owl-nav button:hover,
.single-blog-active .owl-nav button:hover,.post-slider .owl-nav button:hover {
  border: 1px solid #c97178 !important;
  color: #c97178 !important;
}
.daily-deats-active .owl-nav .owl-prev,
.single-blog-active .owl-nav .owl-prev {
  right: 50px;
}
/*---------------------------------
 08. product-area css 
------------------------------------*/
.section-titel {
  border-top: 1px solid #d6d6d6;
  padding-top: 30px;
}
.section-titel h2, .category-title h3 {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  font-family: arial;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.single-product {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
.single-product .product-image > a {
  display: block;
}
.product-image {
  position: relative;
  overflow: hidden;
}
.product-image img {
  width: 100%;
}
.product-image .sale-sticker {
  background: #333333 none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-size: 12px;
  left: -30px;
  padding: 20px 0 7px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -8px;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  width: 90px;
}
.product-action > a {
  background: #c97178 none repeat scroll 0 0;
  bottom: 0;
  color: #ffffff;
  font-size: 15px;
  height: 38px;
  left: 0;
  line-height: 38px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 38px;
  -webkit-transform: scale(0.5) translateY(15px);
          -ms-transform: scale(0.5) translateY(15px);
      transform: scale(0.5) translateY(15px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.product-action > a:hover {
  background: #752C32;
}
.single-product:hover .product-action > a,.list-view-area:hover .product-action > a{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  -webkit-transform: scale(1) translateY(0px);
          -ms-transform: scale(1) translateY(0px);
      transform: scale(1) translateY(0px);
}
.single-product-info h3 {
  line-height: 16px;
  text-align: center;
}
.single-product-info h3 a {
  color: #333333;
  display: block;
  font-family: arial;
  font-size: 13px;
  font-weight: 400;
  height: 32px;
  margin-top: 10px;
  overflow: hidden;
}
.single-product-info h3 a:hover {
  color: #C97178;
}
.product-price-box {
  color: #c97178;
  font-family: arial;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.product-price-box .new-price {
  padding: 0 3px;
}
.product-price-box .discount {
  color: #333333;
  padding: 0 3px;
}
.product-price-box .old-price {
  color: #333333;
  padding: 0 3px;
  text-decoration: line-through;
}
.product-active .col-lg-3 {
  max-width: 100%;
}
.product-style-2 .col-lg-3 {
  max-width: 100%;
}
.product-active .owl-nav button,.product-style-2 .owl-nav button,
.product-style-3 .owl-nav button, .blog-post-active .owl-nav button {
  right: 15px;
  top: -35px;
}
.product-active .owl-nav .owl-prev, .product-style-2 .owl-nav .owl-prev,
.product-style-3 .owl-nav .owl-prev,.blog-post-active .owl-nav .owl-prev  {
  right: 65px;
}
.tab-content .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  width: 100%;
}
.tab-content .tab-pane.active {
  height: auto;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
.product-tab-menu {
  border-top: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  padding: 30px 0 0;
}
.product-tab-menu ul li a {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding: 0 15px;
  text-transform: uppercase;
}
.product-tab-menu ul li a.active {
  color: #333333;
}
/*-------------------------------------
   09. main-content-wrapper css 
---------------------------------------*/
.secton-titel-three h3 {
  color: #333333;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}
.secton-titel-three h3:after {
  background: #c97178 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
/*-- single-daily-deals-area css --*/
.single-countdown-product .cdown {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  display: inline-block;
  height: 40px;
  line-height: 18px;
  margin: 0;
  text-align: center;
  width: 44px;
}
.single-countdown-product .time-count {
  font-size: 14px;
}
.single-countdown-product .cdown > p {
  color: #666666;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 0;
}
.product-style-3 .col-lg-3 {
  max-width: 100%;
}
.single-countdown-product {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 100%;
}
.single-daily-deals {
  border: 1px solid #d6d6d6;
  padding: 20px;
}
.single-daily-deals .single-product .product-image {
  overflow: hidden;
}
.single-daily-deals .single-product {
  margin: 0;
}
.single-daily-deals-active .owl-nav button {
  color: #333333 !important;
  font-size: 20px !important;
  position: absolute;
  right: -15px;
  top: -70px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.single-daily-deals-active .owl-nav .owl-prev {
  right: 10px;
}
.single-daily-deals-active .owl-nav button:hover {
  color: #C97178 !important;
}
.single-blog-active .owl-nav button {
  height: 35px;
  top: -40px;
  width: 35px;
}
/*---------------------------------------------
   10. recent-blog-posts-area css  
-----------------------------------------------*/
.single-blog-post {
  margin-top: 30px;
}
.post-content .post-title {
  color: #333333;
  display: block;
  font-family: arial;
  font-size: 16px;
  margin: 20px 0 0;
}
.post-content .post-title:hover {
  color: #C97178;
}
.recent-blog-posts-area .post-content .post-meta p, .recent-singel-blog .post-content .post-meta p {
  color: #333333;
  display: inline-block;
  font-family: Arial;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 25px 0 0;
}
.recent-blog-posts-area .post-content .post-meta p a, .recent-singel-blog .post-content .post-meta p a {
  color: #333333;
}
 .recent-blog-posts-area .post-content .post-meta p a:hover, .recent-singel-blog .post-content .post-meta p a:hover{
  color: #C97178;
}
.recent-blog-posts-area .post-content .post-meta p i,.recent-singel-blog .post-content .post-meta p i{
  margin-right: 5px;
}
.recent-blog-posts-area .post-content p, .recent-singel-blog .post-content p {
  color: #333333;
  font-family: Arial;
  font-size: 13px;
  line-height: 20px;
  margin: 17px 0 0;
}
.blog-post-active .col-lg-4 {
  max-width: 100%;
}
/*-----------------------------------
   11. product-category-area 
-------------------------------------*/
.product-category {
  border-top: 1px solid #d6d6d6;
  padding: 50px 0 0;
}
.single-product-category {
  margin-top: 30px;
}
.category-item {
  margin-top: 35px;
  overflow: hidden;
}
.category-title h3{
  text-align: left;
}
.category-item .product-img {
  float: left;
  margin-right: 15px;
}
.category-item .single-product-info h3,.category-item .product-price-box {
  text-align: left;
}
.category-item .single-product-info h3 a{
  margin: 0;
}
.product-category-area.ptb-90 {
  padding: 80px 0 90px;
}
/*---- product-category-style-two css ----*/
.single-category-image {
  margin-top: 30px;
}
.btn-style-two a {
  background: rgba(51, 51, 51, 0.7);
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  height: 60px;
  left: 0;
  line-height: 60px;
  margin: auto;
  max-height: 60px;
  max-width: calc(100% - 65px);
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.single-product-category-style-two:hover .btn-style-two a{
  background: #c97178;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.btn-style-two.btn-three > a {
  color: #ffffff;
  line-height: 36px;
}
.btn-style-two.btn-three span {
  display: block;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
/*-------------------------------
   12. brand-logo-area css 
----------------------------------*/
.brand-logo-active {
  border-top: 1px solid #dcdcdc;
}
.single-brand-logo {
  padding: 45px 15px;
}
.brand-logo-active .owl-nav button,.post-slider .owl-nav button {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.brand-logo-active .owl-nav .owl-next {
  right: 0;
  margin: auto;
}
.post-slider .owl-nav .owl-next {
  right: 10px;
  margin: auto;
}
.brand-logo-active .owl-nav .owl-prev {
  left: 0;
}
.post-slider .owl-nav .owl-prev {
  left: 10px;
}
.brand-logo-area:hover .brand-logo-active .owl-nav button,.post-slider:hover .owl-nav button {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
} 
.brand-logo-area.brand-two {
  background: #EFEFEF;
}
.brand-logo-area.brand-two .brand-logo-active {
  border-top: none;
}
/*----------------------------------
   13. footer-area css 
------------------------------------*/
.footer-top {
  background: #202020;
  padding: 15px 0 0 0;
}
.single-footer-content {
  margin: 30px 0 0;
}
.footer-area .footer-title > h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  font-family: Arial;
  text-transform: uppercase;
}
.footer-area .footer-content-info {
  margin: 25px 0 0;
  overflow: hidden;
}
.footer-area .footer-content-info li.footer-contact i {
  color: #c97178;
  display: block;
  float: left;
  font-size: 18px;
  min-width: 25px;
  padding: 0 5px 0 0;
}
.footer-area .footer-content-info li a,.footer-area .footer-content-info li,.footer-area .footer-content-info p {
  color: #bcbcbc;
  display: block;
  font-family: Arial;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
}
.footer-area .footer-content-info li a:hover {
  color: #C97178;
}
.footer-area .footer-content-info .newsletter-form {
  position: relative;
}
.footer-area .footer-content-info .newsletter-input .input-inner {
  background: #dddddd none repeat scroll 0 0;
  border: 0 none;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  height: 39px;
  line-height: 35px;
  padding: 2px 50px 2px 9px;
  width: 100%;
}
.footer-area .footer-content-info .newsletter-form .newsletter-btn {
  background: #c97178;
  border: 0 none;
  box-shadow: -8px 0px 0px 1px #202020;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 39px;
  padding: 0 13px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer-area .footer-content-info .newsletter-form .newsletter-btn:hover {
  background: #9A3A42;
  box-shadow: 0px 0px 0px 0px #202020;
  color: #ffffff;
}
.footer-content-info .social-wrapper {
  margin: 45px 0 0;
}
.footer-content-info .social-wrapper h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
}
.footer-content-info .social-wrapper li {
  display: inline-block;
}
.footer-content-info .social-wrapper .footer-social-icon li a {
  background: #c97178 none repeat scroll 0 0;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin: 10px 8px 0 0;
  text-align: center;
  width: 48px;
}
.footer-content-info .social-wrapper .footer-social-icon li a i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer-content-info .social-wrapper .footer-social-icon li a:hover i {
  -webkit-transform: rotate(-15deg);
          -ms-transform: rotate(-15deg);
      transform: rotate(-15deg);
}
.footer-content-info .social-wrapper .footer-social-icon li .facebook,.team-social-link .facebook {
  background: #3B5998;
}
.footer-content-info .social-wrapper .footer-social-icon li .twitter,.team-social-link .twitter {
  background: #55ACEE;
}
.footer-content-info .social-wrapper .footer-social-icon li .vimeo, .team-social-link .vimeo {
  background: #DD4B39;
}
.footer-content-info .social-wrapper .footer-social-icon li .instagram,.team-social-link .instagram {
  background: #125688;
}
.footer-content-info .social-wrapper .footer-social-icon li .pinterest {
  background: #CB2027;
}
.footer-store-info > .footer-logo {
  float: left;
}
.footer-store-info > p {
  color: #bcbcbc;
  float: right;
  font-size: 16px;
  margin: 11px 0 0 40px;
  text-transform: uppercase;
}
.footer-store-info > p .store-phone {
  color: #fff;
}
.footer-store-info {
  border-top: 1px solid #414141;
  margin-top: 40px;
  overflow: hidden;
  padding: 30px 0;
}
.footer-botton{
  background: #161616;
  padding: 25px 0;
}
.payment-img {
  float: left;
}
.copy-right {
  float: left;
  margin: 0px 0 0 50px;
}
.copy-right > p {
  color: #bcbcbc;
  font-size: 12px;
  margin: 0;
  font-family: arial;
}
.copy-right > p a {
  color: #fff;
}
.copy-right > p a:hover {
  color: #C97178;
}
/*----------------------------- 
  14. modal-wrapper css 
--------------------------------*/
.modal-wrapper .modal-content button.close {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  color: #888888;
  padding: 10px 16px 5px;
  text-align: right;
}
.modal-wrapper .modal-content .modal-body {
  padding: 20px 20px 40px;
}
.modal-wrapper .modal-content {
  background-color: #EBEBEB;
}
.modal-wrapper .modal-lg {
  max-width: 1024px;
}
.large-thum-image {
  width: calc(100% - 80px);
  float: left;
}
.modal-product-tab {
  float: left;
  padding-left: 10px;
  position: relative;
  width: 80px;
}
.modal-wrapper .modal {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -9;
}
.modal-wrapper .modal.show {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 1050;
}
.product-small-thum li > a {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.product-small-thum li.slick-active > a.active.show {
  border: medium none;
}
.slider-vertical .slick-arrow {
  text-align: center;
}
.slider-vertical .slick-arrow.arrow-prv, .slider-vertical .slick-arrow.arrow-next {
  background: #9A3A42 none repeat scroll 0 0;
  bottom: -30px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 25px;
  left: 38px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  width: 25px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  color: #fff;
}
.slider-vertical .slick-arrow.arrow-prv:hover, .slider-vertical .slick-arrow.arrow-next:hover {
  background: #9A3A42;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.slider-vertical .slick-arrow.arrow-next {
  left: 8px;
}
.quick-view-content .product-info h2 {
  color: #333333;
  font-family: arial;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 36px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.quick-view-content .product-info p {
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.modal-size,.modal-color {
  margin: 20px 0;
}
.quick-view-content .product-info .modal-size h4,.quick-view-content .product-info  .modal-color h4 {
  color: #333333;
  font: 700 14px/21px Arial;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.modal-size select {
  border: 1px solid #ebebeb;
  height: 40px;
  width: 60px;
  text-align: center;
}
.color-list li {
  display: inline-block;
  margin-right: 10px;
}
.color-list li a {
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.color-list li a:hover {
  border: 2px solid #333;
}
.color-list li a.orange {
  background: #F39C11;
}
.color-list li a.paste {
  background: #5D9CEC;
}
.color-list li a.active {
  border: 2px solid #333333;
}
.modal-price-box .old-price {
  color: #acaaa6;
  font-size: 21px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  text-decoration: line-through;
  line-height: 25px;
  font-family: arial;
}
.modal-price-box .new-price {
  color: #c97178;
  font-family: arial;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 45px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
.modal-price-box .new-price span.discount {
  background: #c97178 none repeat scroll 0 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  margin: 0 0 0 20px;
  padding: 5px 10px;
  padding: 5px 10px;
  padding: 5px 10px;
  padding: 0.3125rem 0.625rem;
  vertical-align: top;
}
.quick-add-to-cart .quantity label {
  display: block;
  margin-bottom: 6px;
  margin-bottom: 6px;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  color: #333333;
  font: 700 14px/21px Arial;
  text-transform: uppercase;
}
.cart-plus-minus {
  float: left;
  margin-right: 5px;
  position: relative;
  width: 76px;
}
.cart-plus-minus-box {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #333333 none repeat scroll 0 0;
  border-color: -moz-use-text-color #222222 -moz-use-text-color -moz-use-text-color;
  -o-border-image: none;
     border-image: none;
  border-style: none solid none none;
  border-width: medium 1px medium medium;
  color: #ffffff;
  height: 46px;
  text-align: center;
  width: 48px;
  width: 48px;
  width: 48px;
  width: 3rem;
}
.dec.qtybutton {
  bottom: 0;
  right: 0;
}
.inc.qtybutton {
  right: 0;
  top: 0;
}
.dec.qtybutton, .inc.qtybutton {
  background: #333333 none repeat scroll 0 0;
  color: #ffffff;
  cursor: pointer;
  height: 23px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 28px;
}
.quick-add-to-cart .add-to-cart {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  line-height: 46px;
  margin: 0 0 0 5px;
  padding: 0 25px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dec.qtybutton:hover, .inc.qtybutton:hover,.quick-add-to-cart .add-to-cart:hover {
  background: #C97178;
}
/*-------------------------------------
    15. boxed-layout css 
----------------------------------------*/
.boxed-layout {
  background: #e4eaee none repeat scroll 0 0;
}
.boxed-page-wrapper {
  background: #ffffff none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 1300px;
}
.top-dropdown.box-top-down li a {
  color: #333;
}
.top-dropdown.box-top-down {
  margin-top: 42px;
}
.boxed-page-wrapper .brand-logo-active, .boxed-page-wrapper .product-category{
  border-top: none;
}
.boxed-page-wrapper .product-category{
  padding-top: 0;
  padding-bottom: 30px;
}
.boxed-page-wrapper .top-dropdown ul li .open-dropdown {
  left: 0;
}
/*-----------------------------------
   16. shop-page css 
--------------------------------------*/
.shop-category-bg {
  background: rgba(0, 0, 0, 0) url("img/1 (19).jpg") repeat scroll 0 0 / cover ;
}
.shop-category-titel h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5em;
  margin: auto 0;
  padding: 47px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.breadcrumb-area {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 15px 0;
}
.breadcrumb-list li {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.breadcrumb-list li a {
  display: block;
  color: #333;
}
.breadcrumb-list li a:hover {
  color: #C97178;
}
.category-sub-menu ul li.has-sub {
  cursor: pointer;
  width: 100%;
}
.category-sub-menu li.has-sub > a {
  color: #333;
  display: block;
  font-size: 16px;
  margin: 5px 0 0;
  padding-bottom: 3px;
}
.category-sub-menu li.has-sub > a:hover,
.category-sub-menu ul li.has-sub:hover,
.category-sub-menu ul li ul > li > a:hover {
  color: #C97178;
}
.category-sub-menu ul li ul {
  margin-top: 10px;
  display: none;
}
.category-sub-menu ul li ul > li {
  margin-bottom: 8px;
}
.category-sub-menu ul li ul > li > a {
  font-size: 14px;
  font-size: 14px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #898989;
  display: block;
}
.category-sub-menu li.has-sub > a:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 16px;
  position: absolute;
  right: 20px;
  color: #333;
}
.category-sub-menu li.has-sub.open > a:after {
  content: "\f1eb";
}
.btn-clear-all {
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background: #f6f6f6 none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0);
  color: #acaaa6;
  cursor: pointer;
  line-height: 15px;
  margin: 10px 0 5px;
  padding: 5px;
  font-size: 14px;
  font-size: 14px;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.btn-clear-all:hover {
  background: #DDDDDD;
  color: #414141;
}
.btn-clear-all:before {
  content: "";
  font-family: Material-Design-Iconic-Font;
  margin-right: 15px;
}
.price-checkbox ul li a,.size-checkbox ul li a,.categori-checkbox ul li a,.color-categoriy ul li a{
  color: #333;
  font-family: Arial;
  font-size: 14px;
  margin-left: 10px;
}
.price-checkbox ul li a:hover,.size-checkbox ul li a:hover,
.categori-checkbox ul li a:hover,.color-categoriy ul li a:hover {
  color: #C97178;
}
.price-checkbox ul li a:before {
  color: #414141;
  content: "";
  font-family: Material-Design-Iconic-Font;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.color-categoriy li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.color-categoriy ul li span {
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 12px;
  margin-top: 5px;
  width: 12px;
}
.color-categoriy ul li span.white {
  background: #ffffff;
}
.color-categoriy ul li span.black {
  background: #333;
}
.color-categoriy ul li span.Orange {
  background: #F39C11;
}
.color-categoriy ul li span.Blue  {
  background: #5D9CEC;
}
.color-categoriy ul li span.Yellow  {
  background: yellow;
}
.color-categoriy ul li span.Green  {
  background: green;
}
.color-categoriy ul li span.Red  {
  background: red;
}
.color-categoriy ul li span.Pink  {
  background: pink;
}
.color-categoriy ul li span.etc  {
  background: white;
}
.filter-sub-area {
  padding-top: 25px;
}
.filter-sub-area h5.filter-sub-titel{
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 17px;
  text-transform: uppercase;
}
/*-- shop-item-filter css --*/
.shop-item-filter {
  border-bottom: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 10px 0;
}
.shop-item-filter-list li a {
  border: 1px solid #333;
  color: #333;
  padding: 0;
  margin-right: 10px;
  height: 30px;
  display: block;
  width: 32px;
  text-align: center;
  line-height: 27px;
  border-radius: 2px ;
}
.shop-item-filter-list li a.active {
  color: #c97178;
  border: 1px solid #c97178;
}
.shop-item-filter > p {
  color: #333333;
  font-size: 14px;
  margin: 4px 0 0 20px;
  vertical-align: middle;
}
.orderby-wrapper > label {
  color: #333333;
  font-size: 14px;
  margin: 4px 10px 4px 0;
}
.orderby.nice-select {
  color: #333;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 250px;
}
.orderby.nice-select .list {
  width: 100%;
}
.pagination-box > li {
  display: inline-block
}
.pagination-box > li a {
  color: #333333;
  display: block;
  padding: 0 8px;
}
.pagination-box > li a:hover {
  color: #C97178;
}
.pagination-box > li.active a {
  color: #C97178;
}
.paginatoin-area {
  margin-top: 40px;
}
.paginatoin-area p{
  margin: 0;
}
.list-view-area .single-product-info h3,.list-view-area .product-price-box {
  text-align: left;
}
.list-view-area .single-product-info h3 a{
  font-size: 20px;
  height: auto;
}
.list-view-area .single-product-info .product-price-box {
  font-size: 20px;
  line-height: 20px;
  margin: 10px 0;
}
.list-view-area .rating-box {
  margin: 10px 0;
  color: #ff9900;
}
.list-view-area p {
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.list-view-area .button.btn-cart {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  height: 50px;
  padding: 0 35px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.list-view-area .button.btn-cart:hover {
  background: #C97178;
}
.shop-products-wrapper .tab-content .tab-pane.active {
  display: block;
}
.shop-products-wrapper .tab-content .tab-pane {
  display: none;
  height: auto;
}
.pagination-box {
  text-align: right;
}
/*--------------------------------
   17. single-product css 
----------------------------------*/
.zoomWrapper {
  position: relative;
}
.single-zoom-thumb {
  margin-top: 10px;
}
.single-product-active .owl-nav button {
  background: #c97178 none repeat scroll 0 0 !important;
  border-radius: 100%;
  color: #ffffff !important;
  font-size: 20px !important;
  height: 30px;
  line-height: 15px !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.single-product-active .owl-nav button.owl-prev {
  left: 10px;
}
.single-product-active .owl-nav button.owl-next {
  right: 10px;
}
.single-product-active:hover .owl-nav button {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-product-info-area .product-name {
  font-family: arial;
  font-size: 26px;
  font-weight: 500;
} 
.single-product-info-area .ratings i {
  color: #ff9900;
}
.single-product-info-area .product-desc > p {
  font-size: 14px;
  margin: 20px 0;
  color: #666;
}
.single-product-info-area .product-price-box {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: left;
}
.single-product-info-area .product-meta {
  border-top: 1px solid #ebebeb;
  margin: 20px 0 10px;
  padding-top: 15px;
  text-transform: capitalize;
}
.single-product-info-area .product-meta .posted-meta-inner > a {
  color: #666666;
  font-size: 14px;
}
.single-product-info-area .product-meta .posted-meta-inner > a:hover {
  color: #C97178;
  font-size: 14px;
}
.single-product-sharing > ul > li {
  display: inline-block;
  margin-right: 10px;
}
.single-product-sharing > ul > li > a {
  background: #7a7a7a none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 35px;
}
.single-product-sharing > ul > li > a:hover {
  background: #C97178;
}
.tag-area .tagcloud a {
  border: 1px solid #333;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  margin: 0 2px 6px 0;
  padding: 0 18px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.tag-area .tagcloud a:hover {
  border: 1px solid #C97178;
  color: #C97178;
}
.discription-tab {
  padding-top: 30px;
}
.discription-tab-menu ul {
  border-bottom: 1px solid #ebebeb;
}
.discription-tab-menu ul li a {
  color: #333333;
  display: block;
  font-size: 18px;
  padding: 10px 5px;
  position: relative;
}
.discription-tab-menu ul li a:after {
  background: #333333 none repeat scroll 0 0;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.discription-tab-menu ul li a.active:after {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.description-content {
  padding: 20px 0;
}
.review-comment {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 650px
}
.review-comment h2.reviews-title {
  font-size: 1.385em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #333333;
}
.review-comment > ul {
  margin: 0 0 25px;
}
.review-comment > ul > li > .product-comment img {
  float: left;
  width: 60px;
}
.review-comment > ul > li > .product-comment .product-comment-content {
  border: 1px solid #e7e4dd;
  border-radius: 3px;
  margin-left: 80px;
  padding: 15px 15px 0;
  position: relative;
}
.product-comment-content > p {
  color: #777777;
  font-size: 1.077em;
  margin: 0 0 1em;
}
.product-comment-content > p strong {
  text-transform: uppercase;
}
.review-comment .product-comments-rating {
  float: right;
}
.product-comments-rating i {
  color: #ff9900;
}
.comment-form-rating > p  {
  font-size: 14px;
  color: #333333;
}
.comment-notes {
  font-size: 14px;
  margin: 10px 0;
  color:  #333333;
}
.comment-form-rating label {
  margin: 0;
}
.comment-form-rating .rating {
  color: #ff9900; 
}
.comment-form-comment.single-input-reviwer > label,.review-comment-form-author.single-input-reviwer > label ,.review-comment-form-email.single-input-reviwer > label{
  font-size: 14px;
  display: block;
}
.comment-form-comment textarea {
  border: 1px solid #e5e5e5;
  height: 130px;
  padding: 10px;
  width: 100%;
}
.input-reviwer .single-input-reviwer > input {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 42px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 100%;
}
.single-input-reviwer {
  margin-top: 20px;
}
.review-form-wrapper .form-button {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  margin-top: 20px;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.review-form-wrapper .form-button:hover {
  background: #C97178;
}
.discription-tab-content .tab-content .tab-pane.active {
    display: block;
}
.discription-tab-content .tab-content .tab-pane {
    display: none;
    height: auto;
}
/*---------------------------------------
    18. error-404 css 
----------------------------------------*/
.search-error-wrapper {
  padding: 112px 0;
  text-align: center;
}
.error404 .search-error-wrapper h1 {
  color: #c97178;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 140px;
  margin: 0 0 60px;
}
.error404 .search-error-wrapper h2 {
  color: #4c4c4c;
  font-size: 35px;
  text-transform: uppercase;
}
.error404 .search-error-wrapper p {
  color: #333;
  font-size: 22px;
  font-weight: 300;
  margin: 20px auto 30px;
  text-align: center;
  width: 60%;
}
.error404 .search-error-wrapper .error-form .error-form-input {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #e9e9e9;
  border-radius: 30px;
  height: 45px;
  margin: 0 auto;
  position: relative;
  width: 450px;
}
.error404 .search-error-wrapper .error-form .error-form-input .error-input-text {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  height: 100%;
  outline: medium none;
  padding-left: 20px;
  padding-right: 80px;
  width: 100%;
}
.error404 .search-error-wrapper .error-form .error-form-input .error-s-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #4f4f4f;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.error404 .search-error-wrapper .error-form .error-form-input .error-s-button:hover {
  color: #C97178;
}
.error404 .search-error-wrapper a.home-bacck-button {
  background: #c97178 none repeat scroll 0 0;
  border-radius: 35px;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.error404 .search-error-wrapper a.home-bacck-button:hover {
  background: #752C32;
}
/*---------------------------------------
   19. faequently-questions css 
----------------------------------------*/
.feequently-about-content {
  margin-bottom: 85px;
}
.feequently-about-content > h4 {
  font-size: 20px;
}
.faequently-accordion {
  margin-bottom: 90px;
}
.faequently-accordion h4 a:before, .faequently-tab-menu ul li a:before {
  color: #333;
  content: "";
  font-family: fontawesome;
  font-size: 12px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  z-index: 9;
}
.faequently-accordion h4.open a:after, .faequently-tab-menu ul li.active a:before {
  color: #333;
  content: "";
  font-family: fontawesome;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  z-index: 9;
}
.faequently-accordion h4.open a:before {
  display: none;
}
.faequently-accordion h4 {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #e7e4dd;
  line-height: 1.5;
  margin: 0 0 10px;
  padding: 0;
}
.faequently-accordion h4 a {
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 15px 10px 15px 25px;
  position: relative;
}
.faequently-description {
  border-color: #e7e4dd #C97178 #C97178;
  border-style: solid;
  border-width: 1px;
  padding: 20px 25px;
  margin-bottom: 10px;
}
.faequently-accordion h4.open {
  border-color: #C97178 #C97178 #C97178;
  margin-bottom: 0;
}
.faequently-accordion h4.open a {
  color: #C97178;
}
.faequently-description > p {
  color: #333333;
  font-size: 14px;
}
/*-----------------------------------------
   20. wishlist-page css 
-------------------------------------------*/
.wishlist-table .table-min-content.shop-table{
  border:  1px solid #e7e4dd;
}
.wishlist-table .table-min-content th:last-child {
  border-right: none;
}
.wishlist-table .table-min-content th, .wishlist-table .table-min-content td{
  padding: 16px 12px;
}
.wishlist-table .table-min-content td {
  border-bottom: 1px solid #e7e4dd;
  border-right: 1px solid #e7e4dd;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.wishlist-table .table-min-content td.w-product-thumbnail > a {
  border: 1px solid #e7e4dd;
  display: inline-block;
  max-width: 60px;
}
.w-product-thumbnail > a {
  border: 1px solid #e7e4dd;
  display: inline-block;
  max-width: 60px;
}
.wishlist-table .table-min-content td.product-remove {
  padding: 16px 0;
}
.wishlist-table .table-min-content .product-remove > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  color: #333333 !important;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 28px;
  width: 30px;
  border-radius: 50%;
}
.wishlist-table .w-product-name > a {
  color: #333333;
}
.wishlist-table .w-product-name > a:hover {
  color: #C97178;
}
.wishlist-table .table-min-content td.w-c-price {
  color: #C97178;
  font-weight: 700;
}
.wishlist-table .table-min-content td.product-stock-status{
  color: #C97178;
}
.wishlist-table .add-to-cart-btn {
  background: #a0a0a0 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  padding: 0 25px;
  margin: 0 15px;
  text-align: center;
  text-shadow: none;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  vertical-align: middle;
  white-space: nowrap;
}
.wishlist-table .add-to-cart-btn:hover {
  background: #C97178;
}
/*--------------------------------
   21. cart-page css 
----------------------------------*/
.cart-table {
  border-bottom: 1px solid #e7e4dd;
  margin-bottom: 30px;
}
.cart-table table.table-min-content.shop-table,.wishlist-table .table-min-content.shop-table{
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
}
.cart-table .table-min-content th,.wishlist-table .table-min-content th {
  background: #f6f6f6 none repeat scroll 0 0;
  border-bottom: 0 none;
  border-right: 1px solid #e7e4dd;
  border-top: medium none;
  font-size: 1.07em;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
.wishlist-table .table-min-content th {
  font-size: 13px;
}
.cart-table .table-min-content td {
  border-bottom: 1px solid #e7e4dd;
  border-right: 1px solid #e7e4dd;
  border-top: 0 none;
  font-size: 1.142em;
  font-weight: 500;
  padding: 25px 10px;
  text-align: center;
  vertical-align: middle;
}
.cart-table .shop-table tr .product-remove {
  border-left: 1px solid #dddddd;
}
.cart-table .shop-table td.product-remove > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  border-radius: 50%;
  color: #333333;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: 26px;
  width: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.cart-table .shop-table td.product-remove > a:hover {
  color: #C97178;
  border: 1px solid #C97178;
}
.cart-table .shop-table td.c-product-thumbnail img {
  border: 1px solid #dddddd;
  width: 125px;
}
.cart-table .shop-table td.c-product-name a {
  color: #333333;
  font-size: 15px;
}
.cart-table .shop-table td.c-product-name a:hover {
  color: #C97178;
}
.cart-table .shop-table td.c-price {
  color: #c97178;
  font-weight: 700;
  font-size: 15px;
}
.cart-table .shop-table td label {
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 5px;
}
.cart-table .shop-table td .c-input-text {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #e7e4dd;
  border-radius: 0;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: normal;
  height: 42px;
  padding: 0 0 0 10px;
  text-align: center;
  width: 60px;
}
.cart-table .shop-table td.product-add-to-cart .total-amount {
  color: #C97178;
  font-weight: 700;
}
.cart-table .table-min-content .table-bottom td {
  border-bottom: medium none;
  border-right: 0 none;
}
.cart-table .table-min-content .table-bottom td {
  padding: 10px 0;
}
.coupon .input-text {
  border: 1px solid #d3ced2;
  box-sizing: border-box;
  line-height: 1;
  margin: 0 4px 0 0;
  outline: 0 none;
  padding: 6px 6px 5px;
  height: 42px;
}
.table-bottom .coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.table-bottom .button-update {
  background: #C97178 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: right;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.table-bottom .button-update:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: #C97178;
  cursor: not-allowed;
  color: #333;
}
.button-apply {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 16px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
.button-apply:hover {
  background: #C97178
}
/*-- cart-totals --*/
.cart-collaterals .cart-totals .cart-totals-table {
  margin-bottom: 10px;
  width: 100%;
}
.cart-collaterals .cart-totals {
  float: right;
  margin-bottom: 0;
  width: 48%;
}
.cart-collaterals .cart-totals > h2 {
  font-size: 1.428em;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cart-total .cart-totals-table{
  border: medium none;
  float: right;
  margin: 0 0 10px;
  text-align: right;
  color: #4c4c4c;
}
.cart-totals-table th{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  font-weight: 400;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
  vertical-align: top;
}
.cart-totals-table td {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border: medium none;
  font-size: 1.142em;
  font-weight: 500;
  padding: 0 0 12px;
  text-align: right;
  vertical-align: top;
}
.cart-totals-table .cart-subtotal .amount {
  font-weight: 500;
}
.cart-collaterals .cart-totals-table tr.shipping {
  border-bottom: 1px solid #e7e4dd;
}
.cart-totals-table .order-total th {
  font-size: 2em;
  font-weight: 700;
  padding: 10px 0;
}
.cart-totals-table .order-total td{
  color: #C97178;
  font-size: 1.8em;
  font-weight: 700;
  padding: 10px 0;
}
.cart-totals-table .shipping a, .lost-password {
  color: #ff5c00;
}
.lost-password {
  float: right;
  margin: 12px 0 0 0;
}
.cart-totals-table .shipping a:hover,.lost-password:hover {
  color: #C97178;
}
.checkout-button.button, .checkout-payment .button-continue-payment,.coupon-info .button-login, .login-Register-info .button-login {
  background: #c97178 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.coupon-info .button-login, .login-Register-info .button-login{
  float: inherit;
}
.checkout-button.button:hover,.checkout-payment .button-continue-payment:hover,.coupon-info .button-login:hover, .login-Register-info .button-login:hover {
  background: #752C32 none repeat scroll 0 0;
}

.table-hover tbody tr:hover {
  background-color: #f6f6f6;
}
/*------------------------------------
   22. checkout css 
--------------------------------------*/
.coupon-accordion > h3 {
  background: #f7f6f7 none repeat scroll 0 0;
  border-top: 3px solid #1e85be;
  color: #515151;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 2em;
  padding: 1em 2em 1em 3.5em;
}
.coupon-accordion h3 span.coupon {
  color: #ff5c00;
  cursor: pointer;
}
.coupon-accordion h3 span.coupon:hover {
  color: #C97178;
}
.coupon-content,.login-Register-info {
  border: 1px solid #d3ced2;
  border-radius: 5px;
  margin: 2em 0;
  padding: 20px;
}
.coupon-content {
  display: none;
}
.coupon-info p.coupon-input {
  margin: 0 0 10px;
}
.coupon-info p.form-row-first{
  float: left;
  width: 47%;
}
.coupon-info p.form-row-last {
  float: right;
  width: 47%;
}
.coupon-info p.coupon-input > label {
  display: block;
  line-height: 2;
  margin-bottom: 5px;
}
.coupon-input > input,.checkout-coupon > input,.single-form-row > input,.single-form-row textarea {
  border: 1px solid #e5e5e5;
  height: 42px;
  padding: 0 0 0 10px;
  width: 100%;
}
.single-form-row textarea {
  height: 100px;
  padding: 10px;
  line-height: 1.5;
}
.coupon-input .required {
  color: #ff0000;
}
.coupon-info .button-login,.login-Register-info .button-login{
  margin: 5px 10px 0 0;
}
.coupon-info label span,.login-Register-info label span {
  margin-left: 5px;
}
.checkout-coupon {
  margin: 0;
}
.checkout-coupon > input {
  width: auto;
}
.checkout-coupon .button-apply-coupon {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  line-height: 42px;
  margin-left: 5px;
  padding: 0 25px;
}
.checkout-coupon .button-apply-coupon:hover {
  background: #1a1a1a none repeat scroll 0 0;
}
.nice-select {
  float: inherit;
}
.account-create .creat-pass {
  color: #aa0000;
}
.account-create input.input-text {
  border-color: #aa0000;
}
.account-create,.ship-box-info {
  display: none;
}
.login-Register-info .button-login:hover{
  background: #752C32;
}
/*-- checkbox-form --*/
.checkout-area h3.shoping-checkboxt-title {
  border-bottom: 1px solid #e7e4dd;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: none;
  width: 100%;
}
.checkbox-form .single-form-row {
  margin: 0 0 30px;
}
.single-form-row .required {
  border: 0 none;
  color: #ff0000;
  font-weight: 700;
  cursor: help;
}
.single-form-row.checkout-area {
  margin-bottom: 5px;
}
table.checkout-review-order-table {
  width: 100%;
}
.checkout-review-order-table thead th,.checkout-review-order-table tbody td,
.checkout-review-order-table tfoot tr th,.checkout-review-order-table tfoot tr td {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid #dcd8ce;
  border-right: medium none;
  border-top: medium none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.checkout-review-order-table tfoot tr td {
  font-weight: 700;
}
.checkout-review-order-table tfoot tr.order-total td,.checkout-review-order-table tfoot tr.order-total th {
  border-bottom: medium none;
  font-size: 18px;
}
.checkout-review-order-table tfoot tr.order-total td span {
  color: #C97178;
}
.payment_methods {
  margin-bottom: 10px;
}
.payment_methods > p {
  margin: 0;
  font-size: 13px;
}
.payment_methods label {
  font-size: 14px;
  margin: 0;
}
.checkout-payment .button-continue-payment {
  float: right;
  margin-bottom: 30px;
}
/*---------------------------------------
    23. contact-page css 
----------------------------------------*/
.contact-title > h3 {
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.contact-input {
  display: block;
  margin: 0 -10px;
  overflow: hidden;
}
.contact-inner {
  float: left;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 50%;
}
.contact-inner.contact-message textarea,.contact-inner.contact-message {
  width: 100%;
}
.contact-page-form .contact-inner > input, .contact-inner.contact-message textarea {
  border: 1px solid #e7e4dd;
  color: #999999;
  font-size: 14px;
  height: 45px;
  padding-left: 15px;
  width: 100%;
}
.contact-inner.contact-message textarea {
  height: 135px;
  padding: 15px;
}
.form-messege.error {
  color: #ff0000;
  font-style: italic;
  margin-top: 10px;
}
.form-messege.success {
  color: #008000;
  font-style: italic;
  margin-top: 10px;
}
.contact-submit-btn .submit-btn {
  background: #333 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 47px;
  line-height: 47px;
  padding: 0 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.contact-submit-btn .submit-btn:hover {
  background: #C97178; 
}
.table-hover tbody tr:hover {
  background-color: #F6F6F6;
}
.contact-infor {
  background: #f2f2f2 none repeat scroll 0 0;
  padding: 20px 15px;
}
.contact-dec > p, .contact-address {
  margin-bottom: 30px;
}
.contact-address > ul {
  max-width: 380px;
}
.contact-address li {
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  padding: 10px 0;
}
.contact-address ul li i {
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.work-hours > h3 {
  font-size: 24px;
  margin: 0 0 5px;
}
/*-----------------------------------------
   24. blog-area css 
-------------------------------------------*/
.single-blog-area {
  border: 1px solid #e7e4dd;
  margin: 0 0 40px;
  padding: 30px;
  text-align: center;
}
.post-category li {
  display: inline-block;
  color: #C97178;
}
.post-category a {
  color: #C97178;
  font-size: 13px;
  padding: 0 5px;
  text-decoration: underline;
}
.post-category a:hover{
  color: #4c4c4c;
}
.blog-titel h1 {
  font-size: 36px;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
.blog-titel.blog-image h1:before {
  color: #c97178;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 30px;
  margin-right: 20px;
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.blog-titel h1 a {
  color: #333333;
}
.blog-titel h1 a:hover {
  color: #C97178;
}
.post-author, .post-date {
  color: #333333;
  font-size: 0.857em;
  letter-spacing: 0.05em;
}
.blog-content .post-separator {
  color: #333;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.post-thumbnail {
  margin: 20px 0 30px;
  overflow: hidden;
  position: relative;
}
.postinfo-wrapper .readmore.button {
  background: #333 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.857em;
  height: 45px;
  letter-spacing: 0.2em;
  line-height: 45px;
  margin-bottom: 30px;
  padding: 0 50px;
  text-align: center;
  transition: 0.3s all ease-in-out;
}
.postinfo-wrapper .readmore.button:hover {
  background: #C97178 none repeat scroll 0 0;
}
.social-comment .social-sharing {
  float: left;
}
.social-sharing .social-title {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #333;
  float: left;
  font-size: 12px;
  line-height: 26px;
  margin: 0 20px 0 0;
  width: auto;
}
.social-icons {
  float: left;
}
.social-comment .social-icons > li {
  display: inline-block;
}
.social-comment {
  overflow: hidden;
}
.social-sharing .social-icons li a {
  background: #f7f7f7 none repeat scroll 0 0;
  border-radius: 100%;
  color: #353535;
  display: inline-block;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  text-align: center;
  width: 26px;
  margin-bottom: 10px;
}
.social-sharing .social-icons li a:hover {
  background: #C97178;
  color: #fff;
}
.social-comment .blog-comment {
  color: #333;
  float: right;
  font-size: 0.857em;
  font-weight: bold;
}
.social-comment .blog-comment:hover {
  color: #C97178;
}
.post-thumbnail iframe {
  width: 100%;
}
.post-slider .owl-nav .owl-next {
  right: 10px;
  margin: auto;
}
.post-slider .owl-nav .owl-prev {
  left: 10px;
}
.post-slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 20%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.post-slider .owl-dots .owl-dot {
  background: #0D1718;
  border: 3px solid #0D1718;
  border-radius: 100%;
  display: inline-block;
  height: 14px;
  margin: 0 4px;
  width: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post-slider .owl-dots .owl-dot:hover {
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #0D1718;
}
.post-slider .owl-dots .owl-dot.active{
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #96a1a3;
}
.post-slider:hover .owl-dots,.post-slider:hover .owl-nav div {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- categories-blog-area css --*/
.single-categories-1 {
  margin: 0 0 30px;
  overflow: hidden;
}
.single-categories-1.tag-area {
  margin-top: 30px;
}
.single-categories-1 .categorie-title {
  border-bottom: 1px solid #ccc;
  color: #333333;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0 0 15px;
  padding: 0 0 15px;
  text-transform: capitalize;
}
.single-categories-blog li:not(:last-child) {
  line-height: 20px;
  margin-bottom: 10px;
}
.single-categories-blog li a {
  color: #333;
  font-size: 15px;
}
.single-categories-blog li a:hover {
  color: #C97178;
}
.blog-search-form .form-input .input-text {
  border: 1px solid #333333;
  color: #333333;
  font-size: 14px;
  height: 34px;
  padding: 0 40px 0 15px;
  width: 100%;
}
.blog-search-form {
  position: relative;
}
.blog-search-form .form-input .blog-search-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #333;
  height: 34px;
  outline: medium none;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-search-form .form-input .blog-search-button:hover {
  color: #C97178;
}
.single-categories-1.blog-search .categorie-title {
  border: medium none;
  margin: 0;
}
.post-info {
  margin-bottom: 30px;
  text-align: left;
}
.postinfo-wrapper .post-info blockquote {
  border-left: 5px solid #c97178;
  color: #afafaf;
  font-size: 17px;
  font-style: italic;
  line-height: 26px;
  margin: 30px 0;
  padding: 0 0 0 10px;
}
.post-commet {
  border-bottom: 1px solid #e7e4dd;
  border-top: 1px solid #e7e4dd;
  color: #808080;
  font-size: 13px;
  margin: 0 0 30px;
  padding: 15px 0;
  text-align: left;
  text-transform: uppercase;
}
.post-commet a {
  color: #808080;
  text-align: left;
  width: 100%;
}
.post-commet a:hover {
  color: #CE7F86;
}
.blog-with-post .social-sharing{
  margin-bottom: 30px;
}
.comments-area.comments-reply-ara .comment-reply-title {
  border-bottom: 1px solid #e7e4dd;
  border-top: medium none;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 0 0 20px;
  position: relative;
  text-transform: uppercase;
}
.comments-area.comments-reply-ara .comment-submit {
  background: #333333 none repeat scroll 0 0;
}
.comment-submit {
  margin-top: 10px;
}
.comments-area.comments-reply-ara .comment-submit:hover {
  background: #009e90;
}
.single-blog-related .relatedthumb {
  margin-bottom: 25px;
}
.single-blog-related h4 {
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
}
.single-blog-related h4 a {
  color: #333333;
}
.single-blog-related h4 a:hover {
  color: #009D8F;
}
.single-blog-related .post-date {
  color: #808080;
  font-size: 0.857em;
  letter-spacing: 0.05em;
  font-style: italic;
}
.blgo-relatedposts h3.relatedpost-title {
  display: block;
  font-size: 20px;
  margin: 0 0 30px;
  padding: 0 0 20px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
}
.comment-form-author,.comment-form-email,.comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
}
.comment-input {
  margin: 0 -10px;
}
.comment-form-comment > label, .comment-input label {
  color: #333;
  display: block;
  font-size: 14px;
  margin: 0 0 5px;
}
.comment-form-comment textarea {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  height: 130px;
  padding: 10px;
  width: 100%;
}
.comment-input input{
  border: 1px solid #e5e5e5;
  height: 42px;
  width: 100%;
  padding: 0 0 0 10px;
  font-size: 14px;
}
.comment-form-area {
  padding-bottom: 40px;
}
.comment-form-submit .comment-submit {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.comment-form-submit .comment-submit:hover {
  background: #C97178;
}
.ht-sidebar-three-instagram {
  float: left;
  margin: 0 -2px;
}
.ht-sidebar-three-instagram li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  float: left;
  padding: 0 2px 4px;
  width: 33.333%;
}    
/*--------------------------------------
   25. about-page css 
----------------------------------------*/ 
.about-info-wrapper > h2 {
  font-weight: 600;
}
.section-titel-three{
  text-align: center;
  margin: 60px 0 20px 0;
}
.section-titel-three > h2 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.read-more-btn > a {
  background: #333333 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}   
.read-more-btn > a:hover {
  background: #C97178;
}
.single-our-team {
  margin-top: 30px;
}
.our-team-image > img {
  width: 100%;
}
.About-us-team-area {
  margin-bottom: 60px;
}
.our-team-image {
  position: relative;
  overflow: hidden;
}
.team-social-link {
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  padding: 10px 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
      transform: translateY(50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}
.team-social-link li {
  display: inline-block;
  margin: 0 3px;
}
.team-social-link li a {
  background: #CB7D84 none repeat scroll 0 0;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  width: 38px;
}
.our-team-info {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 10px 0;
  text-align: center;
}   
.our-team-info > h3 {
  color: #333333;
  font-size: 20px;
  margin-bottom: 5px;
}       
.our-team-info > p {
  font-size: 16px;
  margin: 0;
}    
.single-our-team:hover .team-social-link{
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
      transform: translateY(0)
}  
/*--  testimonial ---*/
.testimonials-area {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 60px 0;
}  
.single-testimonial p {
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 30px;
}   
.single-testimonial  h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}   
.single-testimonial span {
  color: #666666;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}     
.owl-carousel .owl-item .single-testimonial img {
  display: block;
  margin: 0 auto;
  width: auto;

}
/*----------------------------------------
    26. My Account Page CSS
----------------------------------------*/
.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 60px;
}
.dashboard-content .tab-pane:not(.active) {
    display: none;
}
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: 1px solid #ebebeb;
  padding: 30px 20px;
}
.user-name{
  position: relative;
}
.user-name:before {
  color: #222;
  content: "\f05d";
  font-family: FontAwesome;
  font-size: 18px;
  left: -20px;
  position: absolute;
  top: 0;
}
.account-dashboard p {
	font-size: 14px;
	margin: 0;
}
.d-single-info a, .account-login-form a {
  color: #333;
}
.d-single-info a:hover, .account-login-form a:hover {
  color: #c97178;
}
.dashboard-upper-info a.view-cart,
.view {
	color: #fff;
	font-size: 14px;
	padding: 5px 12px;
	background: #c97178;
    text-transform: capitalize;
}
.dashboard-upper-info a.view-cart:hover,
.view:hover{
    background: #222;
    color: #fff;
}
.view-cart {
  display: inline-block;
  font-size: 14px;
    padding-left: 5px;
  text-transform: capitalize;
}
.view-cart > i {
	margin-right: 5px;
}
.user-name span {
  color: #303030;
  font-size: 15px;
  font-weight: 600;
}
.dashboard-list li a {
  border-bottom: 1px solid #ebebeb;
  color: #222;
  display: block;
  font-size: 14px;
  padding: 12px 0;
  text-transform: capitalize;
}
.dashboard-list li a.active,.dashboard-list li a:hover,.view-cart:hover,.dashboard-upper-info a:hover {
  color: #C97178;
}
.dashboard-list li a.active:after{
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
    -webkit-transition: 0.10s;
    transition: 0.10s;
}
.dashboard-content {
  border: 1px solid #ebebeb;
  padding: 30px;
}
.dashboard-content h3{
    text-transform: capitalize;
}
.dashboard-content h3 {
	border-bottom: 1px solid #ebebeb;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	text-transform: capitalize;
	font-weight: 700;
}
.dashboard-content .table-responsive .table > tbody > tr > td,
.dashboard-content .table-responsive .table > tbody > tr > th,
.dashboard-content .table-responsive .table > tfoot > tr > td,
.dashboard-content .table-responsive .table > tfoot > tr > th,
.dashboard-content .table-responsive .table > thead > tr > td,
.dashboard-content .table-responsive .table > thead > tr > th{
    border: none;
}
.dashboard-content .table-responsive > .table > thead {
  background: #f6f6f6 none repeat scroll 0 0;
  border-bottom: 1px solid #ebebeb;
}
.dashboard-content .table-responsive .table > thead > tr > th {
  font-size: 14px;
  font-weight: 600;
}
.dashboard-content .table-responsive .table > tbody > tr > td {
  color: #333333;
  font-size: 13px;
}
#dashboard a{
    color: #222;
    text-transform: capitalize;
}
#dashboard a:hover{
    color: #C97178;
}
.billing-address {
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
}
#address .view {
  display: inline-block;
  margin: 5px 0;
  font-size: 14px;
}
.register-form {
	padding: 40px;
}
.account-login-form {
	background: white none repeat scroll 0 0;
	box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
	padding: 30px 30px 20px;
}
.login-form-container {
	padding: 40px 60px;
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid rgba(0,0,0,.125);
	padding-bottom: 20px;
}
.input-radio .custom-radio input {
	width: auto;
	height: 11px;
}
.account-login-form input {
  background: #ebebeb none repeat scroll 0 0;
  border: 0 none;
  color: #7d7d7d;
  height: 35px;
  margin-bottom: 20px;
  padding: 8px 15px;
  width: 100%;
}
.example {
	display: block;
	color: #878787;
	font-size: 14px;
	margin-bottom: 20px;
}
.custom-checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.login-form-container input[type="checkbox"] {
	margin: 0;
	position: relative;
	top: 3px;
	width: auto;
	height: 15px;
	margin-right: 10px;
}
.default-btn {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background: #434343;
	color: #fff;
	border: 0;
	padding: 8px 20px;
	cursor: pointer;
	margin: 20px 0;
	text-align: ;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: inline-block;
}
.default-btn:hover {
	background: #C97178;
	color: #fff;
} 
.account-login-form label {
  font-size: 15px;
  color: #333;
} 
/*map*/
 .map {
  height: 405px;
  z-index: 1;
}